@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --font-clr: #001233;
  --base-clr: #979dac;
  --left-section-clr: #023e7d;
  --right-section-clr: #5c677d;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
.left-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 40%;
  align-items: center;
  padding: 30px;
  justify-content: space-between;
  background-color: var(--left-section-clr);
  color: white;
}
.header {
  display: flex;
  flex-direction: column;
}
i {
  font-size: 4rem;
}
.header-title,
span {
  font-size: 3rem;
  font-weight: 900;
  margin: 0.8rem;
}
.header-text {
  font-size: 1.5rem;
  margin: 0.8rem;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-text {
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
.footer-social-wrapper a {
  margin: 0.2rem;
  font-size: 1.3rem;
  flex-wrap: nowrap;
  color: white;
}
.right-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 60%;
  align-items: center;
  right: 0;
  background-color: var(--right-section-clr);
}

.right-section input {
  width: 50%;
  min-width: 200px;
  height: 3rem;
  border: none;
  margin: 1.3rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border: 2px solid var(--font-clr);
  border-radius: 0.5rem;
}
.btn {
  width: 40%;
  min-width: 150px;
  padding: 0.7em 1.7em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.2em;
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
  background-color: #3369ff;
  box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
  text-align: center;
  cursor: pointer;
}
.ouput-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  text-align: center;
  padding: 10px;
}
.ouput-container p {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.2rem;
  padding: 0.2rem;
  background-color: var(--base-clr);
}

@media only screen and (max-width: 604px) {
  .ouput-container p {
    font-size: 1.3rem;
  }
  .left-section {
    padding: 10px;
  }

  .container {
    display: flex;
  }
}
